.danger {
    color: rgb(189, 37, 37);
}

#loser {
    font-size: 13em;
}

#div-main-content.with-background-wall h1,
#div-main-content.lightning-round,
#div-main-content.with-background-wall span {
    color: white !important;
}

#div-main-content span {
    color: black !important;
}

#drink-label {
    font-size: 7em;
    margin-bottom: 0;
}

/* Neon styles */
#div-main-content.with-background-video h1,
#div-main-content.with-background-wall h1 {
    color: #fff;
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    font-family: "Yellowtail",
        sans-serif;
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #2d44ad,
            0 0 80px #2d44ad,
            0 0 90px #2d44ad,
            0 0 100px #2d44ad,
            0 0 150px #2d44ad;
    }

    0% {
        /* text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #2d44ad, 0 0 73px #2d44ad, 0 0 80px #2d44ad, 0 0 94px #2d44ad, 0 0 140px #2d44ad; */
        text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px #2d44ad,
            0 0 73px #2d44ad,
            0 0 80px #2d44ad,
            0 0 94px #2d44ad,
            0 0 140px #2d44ad;
    }
}

/* End Neon styles */

#timer {
    font-size: 11em;
}

#special-round-description {
    font-size: 8em;
    margin-top: 10%;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
}

span {
    color: white;
}

html,
body,
#countdown,
#app-div {
    height: 100%;
}

#config-button {
    color: black;
}

#config-panel-div {
    padding: 5%;
    width: 300px;
}

#add-button {
    margin-bottom: 5%;
    margin-top: 2%;
    width: 100%;
}

#app-div>* {
    max-width: 100%;
}

.margin-top-2 {
    margin-top: 2% !important;
}

.clickable:hover {
    cursor: pointer !important;
}

.delete-name-icon {
    color: #d40202;
}

#items-list-header {
    margin-bottom: 0;
}

.items-list-component {
    margin-top: 5%;
}

.items-list-group {
    max-height: 400px;
    overflow-y: auto;
}

.heart {
    color: #e25555;
}

#background-video {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    bottom: 0;
    filter: grayscale(100%);
    height: 100vh;
    left: 0;
    object-fit: cover;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 0;
}