body {
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#input-name {
    margin-top: 5%;
}

.danger {
    color: rgb(189, 37, 37);
}

#loser {
    font-size: 15em;
}

#timer {
    font-size: 10em;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
}

#lightning{
    font-size: 10em;
    color: white;
}
.lightning{
    color: white;
}
span{
    color: white;
}